[% USE JSON %]
<style>
script {
    display: block;
}
</style>
<script language="javascript">
var some_string = "[% some_string %]";
</script>

<p>
The JSON plugin allows you to embed variables into javascript easily enough
so that things don't get garbled.
</p>

<script language="javascript">
var some_string = "[% some_string.json %]";
var some_string = [% some_string.json %];
var malicious = [% malicious.json %];
</script>

